body {
	background-color: white;
}

main{
	position: relative;
	min-height: 96vh;
}

p{
	margin: 20px;
	max-width: 800px;
	font-family: arial;
}

a{
	font-family: arial;
}

h1{
	font-family: courier;
}

h2{
	font-family: courier;
}

label{
	font-family: arial;
	font-size: 24px;
	vertical-align: bottom;
}

.logoDiv{
	text-align: center;
}

.logoDiv a{
	text-decoration: none;
	color: black;
}

.logoDiv a:hover{
	text-decoration: none;
	color: orange;
}

.shortcuts {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	justify-content: space-evenly;
	border-style: dotted;
	border-color: grey;
	text-align: center;
	margin-bottom: 20px;
}

.shortcuts a{
	font-family: arial black;
	font-size: 20px;
	color: black;
	padding: 0px 2px;
	text-decoration: none;
}

.shortcuts a:hover{
	background-color: orange;
	color: white;
}

a.selected, a.selected:hover{
	background-color: transparent;
	color: grey;
}

#contentWrap{
	padding-bottom: 2.5rem;
	margin: 0px auto 0px auto;
	max-width: 100vh;
}

#footer{
	text-align: -webkit-center;
	color: grey;
	padding: 1px;
	margin: -7px;
	
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer a{
	color: grey;
}

/*chapter select*/
.listColumn{
	display: flex;
	text-align: center;
	flex-direction: column;
	row-gap: 30px;
}

.listColumn a{
	font-size: 30px;
	color: black;
	text-decoration: none;
}

.listColumn a:hover{
	color: orange;
}

/*for concept images*/
.smallPreview{
	cursor: pointer;
	height: 200px;
	display: inline-block;
}

/*view comic/ started from popup*/
#comicPageView{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vw;
  height: 600px;
  width: 600px;
  max-width: 100%;
  background-color: white;
  background-image: url(https://flare145.com/res/loading.gif);
  background-size: cover;
  background-position: center;
}

#comicPageView img {
  height: auto;
  width: 100%;
}

#comicScrollView{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  max-width: 600px;
  background-color: white;
  background-image: url(https://flare145.com/res/loading.gif);
  background-size: cover;
  background-position: center;
}

#comicScrollView img {
  height: auto;
  width: 100%;
  margin-bottom: -4px;
}

.fullscreenImg{
	z-index: 2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vw;
	max-width: 100vh;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	top: 0;
	box-shadow: 0px 0px 1000px 600px;
}

.fullscreenImg img {
  height: auto;
  width: 100%;
}

.navBar{
	user-select: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:auto;
	margin-right:auto;
	width: fit-content;
	border-style: dotted;
	border-color: grey;
}

.navButton{
	display: inline-block;
}

.navButton p{
	font-family: arial black;
	margin: 0px 10px;
}

.navButton:hover{
	background-color: orange;
	cursor: pointer;
	color: white;
}

/*from flare145 website*/
.popup {
  display: block;
  position: fixed;
  margin: 1% auto 4%;
  left: 0;
  right: 0;
  max-width: min-content;
  height: -webkit-fill-available;
  background-color: white;
  background-image: url(https://flare145.com/res/loading.gif);
  background-size: cover;
  background-position: center;
  box-shadow: 1px 4px 12px #0000008c;
  border-radius: 0em;
  overflow: hidden;
  z-index: 2000;
}

.popup img {
  height: 100%;
  width: auto;
}

.popup-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/*settings*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}