:root{
	--bgColor: white;
	--pColor: black;
	--h1Color: black;
	--shortcutColor: black;
	--buttonBorderColor: #cccccc;
	--buttonBackgroundColor: white;
	--sliderBackgroundColor: #ccc;
}
.darkTheme{
	--bgColor: #161616;
	--pColor: #bdbdbd;
	--h1Color: white;
	--shortcutColor: #bdbdbd;
	--buttonBorderColor: #5d5d5d;
	--buttonBackgroundColor: #3d3d3d;
	--sliderBackgroundColor: #3d3d3d;
}




body {
	background-color: var(--bgColor);
}

main{
	position: relative;
	min-height: 96vh;
}

p{
	margin: 20px;
	max-width: 800px;
	font-family: arial;
	color: var(--pColor);
}

a{
	font-family: arial;
}

h1{
	font-family: courier;
	color: var(--h1Color);
}

h2{
	font-family: courier;
	color: var(--h1Color);
}

label{
	font-family: arial;
	font-size: 24px;
	vertical-align: bottom;
	text-wrap: nowrap;
	color: var(--pColor);
}

.logoDiv{
	text-align: center;
}

.logoDiv a{
	text-decoration: none;
	color: black;
}

.logoDiv a:hover{
	text-decoration: none;
	color: orange !important;
	--h1Color: orange;
}

.shortcuts {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	justify-content: space-evenly;
	border-style: dotted;
	border-color: grey;
	text-align: center;
	margin-bottom: 20px;
}

.shortcuts a{
	font-family: arial black;
	font-size: 20px;
	color: var(--shortcutColor);
	padding: 0px 2px;
	text-decoration: none;
	user-select: none;
}

.shortcuts a:hover{
	background-color: orange;
	color: white;
}

a.selected, a.selected:hover{
	background-color: transparent;
	color: grey;
}

#contentWrap{
	padding-bottom: 2.5rem;
	margin: 0px auto 0px auto;
	max-width: 100vh;
}

#footer{
	text-align: -webkit-center;
	color: grey;
	padding: 1px;
	margin: -7px;
	user-select: none;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer a{
	text-decoration: none;
	color: grey;
}

#footer p{
	color: grey;
}

/*chapter select*/
.listColumn{
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 30px;
}

.listColumn a{
	font-size: 30px;
	color: black;
	text-decoration: none;
	user-select: none;
}

.listColumn a:hover{
	color: orange;
}

/*for concept images*/
.smallPreview{
	cursor: pointer;
	height: 200px;
	display: inline-block;
}

/*view comic/ started from popup*/
#comicPageView{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  max-height: 100vw;
  height: 768px;
  width: 768px;
  max-width: 100%;
  background-color: white;
  background-image: url(/res/loading.png);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

#comicPageView img {
  height: auto;
  width: 100%;
  box-shadow: 0px 3px 5px 0px #00000029;
  image-rendering: auto;
}

@media (min-width:1000px) {
	#comicPageView{
		cursor: pointer;
	}
}

#comicScrollView{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  height: fit-content;
  max-width: 600px;
  background-color: white;
  background-image: url(/res/loading.png);
  background-size: 80px;
  background-position: center;
  image-rendering: pixelated;
}

#comicScrollView img {
  height: auto;
  width: 100%;
  margin-bottom: -4px;
  image-rendering: auto;
  box-shadow: 0px 3px 5px 0px #00000029;
}

.fullscreenImg{
	z-index: 2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vw;
	max-width: 100vh;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	top: 0;
	box-shadow: 0px 0px 1000px 600px;
}

.fullscreenImg img {
  height: auto;
  width: 100%;
}

.navBar{
	user-select: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:auto;
	margin-right:auto;
	width: fit-content;
	border-style: dotted;
	border-color: grey;
}

.navButton{
	display: inline-block;
}

.navButton p{
	font-family: arial black;
	margin: 0px 10px;
}

.navButton:hover{
	background-color: orange;
	cursor: pointer;
	color: white;
}

#pageCounter{
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

#pageCounter p{
	display: inline-block;
	margin: 0px;
	font-family: courier;
}

/*from flare145 website*/
.popup {
  display: block;
  position: fixed;
  margin: 0vh auto;
  left: 0;
  right: 0;
  max-width: min-content;
  height: 96vh;
  background-color: white;
  background-image: url(https://flare145.com/res/loading.gif);
  background-size: cover;
  background-position: center;
  box-shadow: 1px 4px 12px #0000008c;
  border-radius: 0em;
  overflow: hidden;
  z-index: 2000;
}

.popup img {
  height: 100%;
  width: auto;
}

.popup-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.playbackButton{
	width: 20px;
	height: 20px;
	position: fixed;
	left: 5px;
	bottom: 5px;
	background-image: url(./res/vibing.gif);
	background-size: contain;
	background-position: center;
}








/*settings*/

#shortcutDropdown{
	border-style: solid;
	border-color: var(--buttonBorderColor);
	background-color: var(--buttonBackgroundColor);
	color: var(--pColor);
    border-radius: 0px;
    border-width: 3.5px;
    border-size: 6px;
    height: 34px;
    font-family: arial;
    font-size: 20px;
}

#shortcutDropdown:focus{
	outline: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sliderBackgroundColor);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}